<div class="container about">
	<div class="row">
		<div class="col-md-12 me">
			<img class="imgprofile" src="/assets/img/sm.png" alt="Sarah Martin - Developer">
		</div>
		<div class="col-md-12 social">
			<div class="icon github">
				<a target="_blank" href="https://github.com/peppybojagger"><img class="git" src="/assets/img/git.png" alt="github"></a>
			</div>
			<div class="icon linked">
				<a target="_blank" href="https://www.linkedin.com/in/peppybojagger/"><img class="link" src="/assets/img/link.png" alt="linkedin"></a>
			</div>
		</div>
		<div class="col-md-12 intro">
			<p class="greeting">Hi,</p>
			<p class="abt">I'm Sarah, a Front-end / UI developer with 8+ years of experience, based in Fort Worth, TX.</p>
		</div>
		<div class="col-md-12 profile">
			<p>I am passionate about clean code, beautiful design and a great user experience.</p>
			<p>I use <strong>javascript</strong> to bring functionality and life to beautifully designed HTML5 & SASS pages, and have spent the majority of my career creating SEO-dependent business & ecommerce sites in vanilla PHP & Wordpress. I can work directly with clients as a sole front-end or closely with designers and back-end engineers in an <strong>agile</strong> team.</p>
			<p>Lately, I have been building stuff with <strong>Angular</strong> & <strong>React</strong>, and I can confidently say I'm quite obsessed with SPAs.</p>
		</div>
		<div class="col-md-12 site">
		<h2>About this Website</h2>
			<p>This site was built from scratch with <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">Angular 11</a> and <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap 4</a>. The CSS is written in <a href="http://sass-lang.com/" target="_blank" rel="noopener noreferrer">SASS</a>, with a <strong>mobile first approach</strong>. Everything is <a href="https://developers.google.com/speed/pagespeed/insights/?url=sarahm.codes" target="_blank" rel="noopener noreferrer">optimized for speed</a>, browser compatibility and SEO.</p>
		</div>
		<div class="col-md-12 skills">
			<h2>Skills and Techniques</h2>
		</div>
			<div class="col-xs-6">
					<ul class="half">
						<li>HTML5</li>
						<li>CSS3</li>
						<li>Sass/Less</li>
						<li>bootstrap</li>
						<li>Nodejs</li>
						<li>Expressjs</li>
						<li>PHP</li>
						<li>Git/Svn</li>
						<li>SEO</li>
						<li>optimization</li>
						<li>mySQL</li>
						<li>Illustrator</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<ul class="half">
						<li>JavaScript</li>			
						<li>jQuery</li>
						<li>Angular 11</li>
						<li>React</li>
						<li>Redux</li>
						<li>typescript</li>
						<li>Gulp/Grunt</li>
						<li>Wordpress</li>
						<li>testing</li>
						<li>TDD</li>
						<li>AWS / cloud servers</li>
						<li>Photoshop</li>
					</ul>
				</div>
	</div>
	<div class="row resume">
				<div class="col-md-12 skills">
			<p>Looking for my professional experience? <br> <a href="/assets/img/sarah_martin_resume.pdf">Download my resume</a>.</p>
		</div>


	</div>
</div>