<div class="container contact">
	<div class="row">
	<div class="col-md-12">
		<h1>Contact</h1>
		<p>I'm always looking to create beautiful things on the web!</p> 
		<p>If you have a cool project in mind that you think I could help with, feel free to email me: <a href="mailto:peppybojagger@gmail.com">peppybojagger@gmail.com</a></p>
	</div>
	<div class="col-md-12 loca">
		<img class="marker" src="/assets/img/map-marker.png" alt="map-marker">
		<p class="denver"><strong>FORTH WORTH</strong><br>TX</p>
	</div>
</div>
</div>

