$primary-color: #757575;
$heading-color: #01a093;

h1 {
	font-weight: 300;
	font-size: 4.8rem;
	color: $heading-color;
	margin-bottom: 30px;
}
p, li {
	font-weight: 300;
	font-size: 17px;
	line-height: 25px;
}
p.denver {
	strong {
		letter-spacing: 3px;
	}
}
a {
	color: $heading-color;
	font-weight: 400;
}
.contact {
	padding-top: 55px;
	padding-bottom: 30px;
}
.loca {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: $primary-color;
	margin-top: 26vh;
	img.marker {
		width: 40px;
		height: auto;
		margin-bottom: 10px;
	}
}

/* iPads and Tablets ----------- */
@media only screen and (min-width: 768px) {
	.loca {
		margin-top: 40vh;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.loca {
		width: 125px;
		margin-top: 45vh;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	.container {
		width: 1400px;
	}
}