<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>SARAH MARTIN</h1>
                <h2>CREATIVE FRONT-END DEVELOPER</h2>
                <a href="/portfolio" class="morph-button">
                    <span class="hex-1000"></span> 
                    <span class="hex-900"></span> 
                    <span class="hex-500"></span> 
                    <span class="hex-200"></span> 
                    <span class="text">VIEW PORTFOLIO</span>
                </a>
            </div>
        </div>
    </div>
</div>